header {
  width: 96%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  user-select: none;
}

.header-left {
  font-size: 30px;
  font-weight: 700;
}

.header-right {
  display: flex;
}

.logout-btn {
  cursor: pointer;
  margin-left: 10px;
}

.logout-btn:hover {
  text-decoration: underline;
}